<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All Orders</h2>
    <table>
        <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Created At</th>
    </tr>
        {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.customer.username }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{{ order.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
